
<div *ngIf="conta">
    <h2><span jhiTranslate="esJhipsterApp.conta.detail.title">Conta</span> {{conta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="esJhipsterApp.conta.conta">Conta</span></dt>
        <dd>
            <span>{{conta.conta}}</span>
        </dd>
        <dt><span jhiTranslate="esJhipsterApp.conta.valor">Valor</span></dt>
        <dd>
            <span>{{conta.valor}}</span>
        </dd>
        <dt><span jhiTranslate="esJhipsterApp.conta.diaVencimento">Dia Vencimento</span></dt>
        <dd>
            <span>{{conta.diaVencimento}}</span>
        </dd>
        <dt><span jhiTranslate="esJhipsterApp.conta.numParcelas">Num Parcelas</span></dt>
        <dd>
            <span>{{conta.numParcelas}}</span>
        </dd>
        <dt><span jhiTranslate="esJhipsterApp.conta.user">User</span></dt>
        <dd>
            {{conta.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'conta/'+ conta.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
